/*
Colors used:
Primary Color/header color (Red): #FB5950;
Secondary Color (Light Gray): #F2F3F7

Primary Text Color (Dark Gray): #595959
Large Text Accent Color/red-font1 (Red): #FB463C
Small Text Accent Color/red-font-2 (Dark Red): #DB0042
*/

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    color: #595959;
}

/* ---------- Fonts ---------- */
h1,
h2,
h3,
h4 {
    font-weight: 700;
    margin: 1em 0;
}

p {
    margin: 1em 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-weight: 700;
}

.acent-font {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    color: #FB463C;
}

.h2-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.h4-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}


/* ---------- Font color ---------- */
.red-font-1 {
    color: #FB463C;
}

.red-font-2 {
    color: #DB0042;
}

.white-font-2 {
    color: #ffffff;
}

/* ---------- Img ---------- */
img {
    width: 100%
}

.icon {
    /* cherry icon width*/
    max-width: 50px;
    text-align: center;
}

.vertical-align {
    display: inline-block;
    vertical-align: middle;
}

.button-icon {
    max-width: 20px;
    display: inline-block;
    vertical-align: middle;
}

/*  ---------- Links ----------*/
.link {
    color: #DB0042;

}

.link:hover,
link:focus {
    color: #C2002E;
}

.link:visited {
    color: #850020;
}

/* ----------Buttons ---------- */
.button {
    display: inline-block;
    background-color: #FB463C;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    transition: 0.2s opacity;
    border-radius: 100px;
    padding: 10px 24px;
}

.button:hover,
.button:focus {
    background-color: #DB0042;
    box-shadow: 0 3px 5px rgba(219, 0, 66, 0.2);
    -webkit-box-shadow: 0 3px 5px rgba(219, 0, 66, 0.2);
    -moz-box-shadow: 0 3px 5px rgba(219, 0, 66, 0.2);
}

.button:active {
    background-color: #C2002E;
}

.button.wide {
    display: flex;
    justify-content: center;
    width: 300px;
}

/* Outlined buttons */
.button.outlined {
    background-color: transparent;
    color: #FB463C;
    border-style: solid;
    border-width: 2px;
    border-color: #FB463C;
}

.button.outlined:hover,
.button.outlined:focus {
    background-color: rgb(251 80 80 / 8%);
}


.button.outlined:active {
    background-color: rgb(251 80 80 / 12%);
}

/* Text buttons */
.button.text {
    background-color: transparent;
    color: #DB0042;
}

.button.text:hover,
.button.text:focus {
    color: #C2002E;
}

.button.text:active {
    color: #850020;
}

/* ----------Components ---------- */
/* header */
header {
    background-color: #FB5950;
    text-align: center;
    padding: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* navigation */
nav {
    display: inline-block;
    width: 100%;
}

nav>ul {
    list-style-type: none;
    padding: 0;

}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    padding: 0 10px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}

nav>ul>li>a:hover,
nav>ul>li>a:focus {
    text-decoration: underline;
}

nav>ul>li>a:active {
    text-decoration: underline;
}

nav>ul>li>a:visited {
    text-decoration: underline;
}

/* ---------- Layout Styling ---------- */
main {
    /* Header top spacing */
    padding-top: 95px;
}

.container {
    width: 100%;
    padding: 0 15px;
}

.row {
    width: 100%;
    display: inline-block;
    padding: 0px;
    margin: 0px 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.vertical-center {
    vertical-align: middle;
}

/* padding */

.padding-quote {
    padding: 0 26px;
    margin-top: 40px;
}

.padding-list {
    padding: 15px;
    margin: 0px;
}

.padding-button {
    margin: 40px 0;
}

.padding-img {
    padding: 20px 0px;
}

.button.row {
    max-width: 200px;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Text spacing */
.center-text {
    text-align: center;
}

/* --- Footer --- */
footer {
    width: 100%;
    display: inline-block;
    background-color: #F2F3F7;
    list-style-type: none;
    padding: 40px 0;
    text-align: center;
}

#contact h1 {
    text-align: center;
}

/* --- Index Page --- */
/* Hero */
#hero h1,
#hero h2,
#hero p {
    text-align: center;
}

#hero {
    background-image: url("../img/contact/contact-background-600px.png");
    background-size: cover;
    padding: 60px 10px 30px;
    display: inline-block;
    width: 100%;
}

#hero .padding {
    margin: 5px 0 0px
}

#hero .container-padding {
    margin: 30px 0;
}

/* #hero .padding-button {
padding: 0px 0;
} */

/* Projects */
#project h1,
#project h3,
#project h4,
#project p {
    text-align: center;
}

#project .container {
    margin: 25px 0;
}

#project .row {
    margin: 40px 0;
}


.project-spacing {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* --- Graphics --- */
#graphics {
    text-align: center;
}

#graphics-page main {
    padding-top: 140px;
    padding-bottom: 90px;
}

/* --- About Page --- */
/* Hero */
#about-me p {
    text-align: left;
}

#about-me h1 {
    text-align: center;
}

#skills h4 {
    text-align: left;
}

#about-me .padding {
    /*Text padding */
    text-align: left;
    padding: 30px 15px;
}

#about-me main {
    padding-top: 140px;
    padding-bottom: 40px;
}

#hobbies {
    display: grid;

}


/* --- Contact --- */

#lets-connect {
    background-image: url("../img/contact/contact-background-600px.png");
    background-size: cover;
    padding: 80px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#contact h1 {
    text-align: center;
}

#contact-page footer {
    width: 100%;
    display: inline-block;
    background-color: #EAEBEF;
    list-style-type: none;
    padding: 15px 0;
    text-align: center;
}

#lets-connect .padding-button {
    margin: 20px 0;
}

#lets-connect .padding {
    margin: 60px 0;
}

/* --- Sparki Project --- */

#sparki-main .container {
    padding: 20px 15px;
}

#sparki h1 {
    font-size: 1.8em;
}

q {
    font-size: 1.5em;
    font-weight: 700;
}

#explore,
#persona,
#task,
#wireframe {
    text-align: center;
}

#issues .img {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50%);
    justify-content: center;
}

#sparki .padding {
    text-align: center;
    margin-top: 60px;
}

#analyzing .padding-list {
    margin: 10px 10px;
    padding: 0 10px;
}

#analyzing h4,
#analyzing p,
#issues h4,
#issues h3,
#issues p {
    margin: 1em 0;
}

/* --- Connect Project --- */
#connect img {
    display: block;
}

#research span {
    display: inline-block;
}


/* ==============================
Media Queries | Responsive Layout
================================= */

/* ---------- Medium devices (640px and larger) ---------- */
@media only screen and (min-width:640px) {

    [class*="col-"] {
        float: left;
        padding: 15px;
    }

    header {
        text-align: left;

    }

    nav {
        width: auto;
        float: right;
    }

    main {
        /* Header top spacing */
        padding-top: 61px;
    }

    .col-md-6 {
        width: 50%;
        padding: 0 0px;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-7 {
        /* !!!!!!!!!!!!!!! Issues with overlap, had to reset width !!!!!!!!!!!!!!! */
        width: 100%;
        padding: 0 0px;
    }

    .col-md-5 {
        /* !!!!!!!!!!!!!!! Issues with overlap, had to reset width !!!!!!!!!!!!!!! */
        width: 100%;
        padding: 0 0px;
    }

    /* --- Content --- */

    #hero {
        background-image: url("../img/contact/contact-background-1200px.png");
        background-size: cover;
        padding: 100px 50px 80px;
        display: inline-block;
        width: 100%;
    }

    #hero .padding-button {
        margin: 30px 0;
    }

    body {
        font-size: 14px;
        line-height: 1.4;
    }

    #hero p {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    #contact p {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    #analyzing .padding {
        margin: 20px 0;
        margin-bottom: 5em;
        text-align: left;
    }

    #issue-1-solution h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #issue-1-solution div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    #issues-solutions .img-width{
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    #issue-4 p{
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #issues-solutions,
    #analyzing,
    #issues {
        display: grid;
        flex-direction: row;
        row-gap: 100px;
    }

    #issues-solutions .left-align {
    text-align: left;
    }

    #issue-text-1,
    #issue-text-3 {
        display: flex;
        column-gap: 2rem;
    }

    .analyzing-padding {
        margin: 1rem 0;
    }
}


/* ---------- Large devices (1024px or larger) ---------- */
@media only screen and (min-width:1024px) {
    .col-md-7 {
        width: 60%;
        padding: 0 0px;
    }

    .col-md-5 {
        width: 40%;
        padding: 0 0px;
    }

    #sparki .col-md-6 {
        /* !!!!!!!!!!!!!!! Issues with overlap, had to reset width !!!!!!!!!!!!!!! */
        width: 100%;
        padding: 0 0px;
    }

    #issue-1 .col-md-6 {
        /* !!!!!!!!!!!!!!! Issues with overlap, had to reset width !!!!!!!!!!!!!!! */
        width: 250%; /* !!! 100% updated to 250% to fix "viewing quizzes" layout (ask mentor)/ col-md-5 has issues !!! */
        padding: 0 0px;
    }

    body {
        font-size: 16px;
        line-height: 1.4;
    }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }


    img {
        max-width: 1200px;
    }

    #hero {
        padding: 140px 50px 120px;
        display: inline-block;
        width: 100%;
    }

    #issue-1-solution h4 {
        display: flex;
        justify-content: left;
        text-align: left;
    }

    #issue-1-solution div {
        display: flex;
        justify-content: left;
        text-align: left;
    }

    #issue-1, 
    #issue-2,
    #issue-3,
    #issue-4 {
        display: flex;
        justify-content: center;
        align-items: center;
        }

        #issue-4 .left-align {
            text-align: left;
            justify-content: left;
        }
        #issue-2,
        #issue-4 {
            display: flex;
            flex-direction: row-reverse;
        }
        
        #issue-4 {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #issues-solutions,
        #analyzing,
        #issues {
            display: grid;
            row-gap: 100px;
        }

        #issue-text-1,
        #issue-text-3 {
            display: flex;
            flex-direction: column;
        }

}

/* ---------- X-large devices (1440px or larger) ---------- */