/*
Colors used:
Primary Color/header color (Red): #FB5950;
Secondary Color (Light Gray): #F2F3F7

Primary Text Color (Dark Gray): #595959
Large Text Accent Color/red-font1 (Red): #FB463C
Small Text Accent Color/red-font-2 (Dark Red): #DB0042
*/

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #595959;
}

/* ---------- Fonts ---------- */
h1,
h2,
h3,
h4 {
    font-weight: 700;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

.acent-font {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    color: #FB463C;
}

.h1-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.h4-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* ---------- Font color ---------- */
.red-font-1 {
    color: #FB463C;
}

.red-font-2 {
    color: #DB0042;
}

/* ---------- Img ---------- */
img {
    width: 100%
}

/*  ---------- Links ----------*/
.link {
    color: #DB0042;

}

.link:hover,
link:focus {
    color: #C2002E;
}

.link:visited {
    color: #850020;
}

/* ----------Buttons ---------- */
.button {
    display: inline-block;
    background-color: #FB463C;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    transition: 0.2s opacity;
    border-radius: 100px;
    padding: 10px 24px;
}

.button:hover,
.button:focus {
    background-color: #DB0042;
}

.button:active {
    background-color: #C2002E;
}

/* Outlined buttons */
.button.outlined {
    background-color: transparent;
    color: #FB463C;
    border-style: solid;
    border-width: 2px;
    border-color: #FB463C;
}

.button.outlined:hover,
.button.outlined:focus {
    background-color: rgb(251 80 80 / 8%);
}


.button.outlined:active {
    background-color: rgb(251 80 80 / 12%);
}

/* Text buttons */
.button.text {
    background-color: transparent;
    color: #DB0042;
}

.button.text:hover,
.button.text:focus {
    color: #C2002E;
}

.button.text:active {
    color: #850020;
}

/* Navigation buttons */
.navigation {
    color: #ffffff;
    text-decoration: none;
}

.navigation:hover,
.navigation:focus {
    text-decoration: underline;
}

.navigation:active {
    text-decoration: underline;
}

/* ----------Components ---------- */
/* header */
header {
    background-color: #FB463C;
    padding: 10px;
}